body {
  background-image: url(./background.jpg);
}

#local-header {
  display: flex;
  justify-content: center;
}

.img-logo {
  margin: 30px;
  text-align: center;
  width: 150px;
  height: 150px;
}

.img-logo:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.local-pokemons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-grow: 1;
}

.pesquisar-pokemon {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#pesquisar-poke {
  margin: 0px 10px 0px 0px;
}

.button-carregar {
  margin: 50px;
}

#button-carregar-mais {
  padding: 10px 50px 10px 50px;
}

.pokemon {
  background: linear-gradient(rgba(248, 248, 248, 0.726), rgba(255, 255, 255, 0.800));
  margin: 10px;
  width: 200px;
  box-shadow: inset 0 0 1em rgb(255, 255, 255), 0 0 1em rgb(153, 151, 151);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: start;
  border-radius: 20px;
  cursor: pointer;
}

.pokemon:hover {
  box-shadow: inset 0 0 1em rgb(255, 255, 255), 0 0 10px rgb(24, 22, 22);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.poke-img {
  flex-basis: auto;
  border-radius: 20px 20px 50px 50px;
  /* filter: brightness(0); */
}

.local-textos h1 {
  font-size: 100%;
}

.local-textos h3 {
  text-align: start;
  font-size: 100%;
  flex-basis: auto;
  margin: 10px 0px 0px 20px;
}

/* Classes */

.local-elementos {
  justify-content: space-around;
  display: flex;
}

.local-elementos p {
  margin: 10px;
  border-radius: 15px;
  font-size: 70%;
}

.fire {
  background-color: red;
  color: white;
  padding: 1px 20px 1px 20px;
}

.grass {
  background-color: green;
  color: white;
  padding: 1px 20px 1px 20px;
}

.water {
  background-color: blue;
  color: white;
  padding: 1px 20px 1px 20px;
}

.electric {
  background-color: yellow;
  color: rgb(0, 0, 0);
  padding: 1px 20px 1px 20px;
}

.rock {
  background-color: brown;
  color: white;
  padding: 1px 20px 1px 20px;
}

.dark {
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 1px 20px 1px 20px;
}

.flying {
  background-color: rgb(179, 179, 58);
  color: white;
  padding: 1px 20px 1px 20px;
}

.psychic {
  background-color: rgb(241, 116, 136);
  color: white;
  padding: 1px 20px 1px 20px;
}

.bug {
  background-color: rgb(39, 102, 54);
  color: white;
  padding: 1px 20px 1px 20px;
}

.normal {
  background-color: rgb(126, 126, 126);
  color: white;
  padding: 1px 20px 1px 20px;
}

.ground {
  background-color: rgb(109, 136, 22);
  color: white;
  padding: 1px 20px 1px 20px;
}

.fairy {
  background-color: rgb(192, 25, 207);
  color: white;
  padding: 1px 20px 1px 20px;
}

.ice {
  background-color: rgb(22, 113, 136);
  color: white;
  padding: 1px 20px 1px 20px;
}

.poison {
  background-color: purple;
  color: white;
  padding: 1px 20px 1px 20px;
}

.steel {
  background-color: rgb(121, 102, 165);
  color: white;
  padding: 1px 20px 1px 20px;
}

.ghost {
  background-color: rgb(78, 3, 65);
  color: white;
  padding: 1px 20px 1px 20px;
}

.fighting {
  background-color: rgb(187, 187, 187);
  color: rgb(0, 0, 0);
  padding: 1px 20px 1px 20px;
}

.dragon {
  background-color: rgb(26, 158, 211);
  color: rgb(0, 0, 0);
  padding: 1px 20px 1px 20px;
}

/* Background Color */

.back-grass {
  background: linear-gradient(rgba(38, 251, 0, 0.726), rgba(15, 90, 31, 0.356)) !important;
}

.back-water {
  background: linear-gradient(rgba(0, 138, 251, 0.726), rgba(21, 48, 110, 0.356)) !important;
}

.back-fire {
  background: linear-gradient(rgba(255, 0, 0, 0.726), rgba(255, 159, 5, 0.356)) !important;
}

.back-bug {
  background: linear-gradient(rgba(21, 255, 0, 0.726), rgba(5, 255, 255, 0.356));
}

.back-normal {
  background: linear-gradient(rgba(42, 44, 42, 0.726), rgba(72, 67, 73, 0.356));
}

.back-poison {
  background: linear-gradient(rgba(163, 24, 105, 0.726), rgba(164, 10, 195, 0.356));
}

.back-electric {
  background: linear-gradient(rgba(157, 160, 10, 0.726), rgba(199, 243, 4, 0.356)) !important;
}

.back-ground {
  background: linear-gradient(rgba(19, 83, 19, 0.726), rgba(6, 117, 75, 0.356));
}

.back-fairy {
  background: linear-gradient(rgba(255, 0, 212, 0.726), rgba(250, 9, 170, 0.356));
}

.back-psychic {
  background: linear-gradient(rgba(185, 75, 117, 0.726), rgba(158, 104, 140, 0.356));
}

.back-fighting {
  background: linear-gradient(rgba(41, 41, 41, 0.726), rgba(16, 13, 17, 0.356));
}

.back-dragon {
  background: linear-gradient(rgba(0, 195, 255, 0.726), rgba(3, 93, 116, 0.356));
}

.back-rock {
  background: linear-gradient(rgba(92, 34, 0, 0.726), rgba(240, 56, 0, 0.356));
}

.back-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.726), rgba(13, 9, 14, 0.356));
}

.back-ice {
  background: linear-gradient(rgba(1, 174, 255, 0.726), rgba(0, 162, 255, 0.356));
}

.back-steel {
  background: linear-gradient(rgba(146, 119, 155, 0.726), rgba(135, 103, 141, 0.356));
}

.back-ghost {
  background: linear-gradient(rgba(121, 6, 92, 0.726), rgba(72, 67, 73, 0.356));
}