body {
  background-image: url(./background.jpg);
}

#local-header {
  display: flex;
  justify-content: center;
}

.img-logo {
  margin: 30px;
  text-align: center;
  width: 150px;
  height: 150px;
}

.img-logo:hover {
  -webkit-transform: scale(1.133);
  transform: scale(1.133);
}

.local-pokemons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-grow: 1;
}

.pesquisar-pokemon {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.input-pesquisar {
  padding: 0.7rem;
  margin: 0 0.5rem;
  border: solid 1px rgba(221, 221, 221, 0.514);
  border-radius: 0.3rem;
  outline-color: rgba(0, 0, 0, 0.301);
  outline-style: ridge;
  box-shadow: 0 0.2rem 1.6rem rgba(33, 2, 63, 0.993);
}

.btn-pesquisar{
  padding: 0.7rem;
  margin: 0 0.5rem;
  border: solid 1px rgba(221, 221, 221, 0.514);
  border-radius: 0.3rem;
  outline-color: rgba(0, 0, 0, 0.205);
  outline-width: 1px o;
  box-shadow: 0 0.2rem 1.6rem rgba(33, 2, 63, 0.993);
}

.button-carregar {
  margin: 50px;
  padding: 1rem 5rem;
  background-color: rgb(120, 41, 156);
  color: white;
  font-weight: 500;
  border: 1px solid rgba(245, 245, 245, 0.082);
  border-radius: 0.3rem;
  text-transform: uppercase;
  outline-color: black;
  outline-width: 1px o;
  box-shadow: 0 1.2rem 2rem rgba(33, 2, 63, 0.993);
}

.button-carregar:hover {
  background-color: rgb(179, 48, 240);
  box-shadow: 0 1.2rem 2rem rgba(127, 3, 243, 0.993);
  color: #fff;
  transform: translateY(-7px);
}

#button-carregar-mais {
  padding: 1rem;
}

.pokemon {
  background: linear-gradient(rgba(11, 53, 245, 0.651), rgba(255, 255, 255, 0.945));
  margin: 10px;
  width: 200px;
  box-shadow: inset 0 0 1em rgb(255, 255, 255), 0 0 1em rgb(153, 151, 151);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: start;
  border-radius: 1rem;
  cursor: pointer;
}

.pokemon:hover {
  box-shadow: inset 0 0 1em rgb(255, 255, 255), 0 0 10px rgb(24, 22, 22);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.poke-img {
  flex-basis: auto;
  border-radius: 1rem;
  opacity:1000%;
  box-shadow:0 0 0.3rem 0;
}


/* Classes */

.local-elementos {
  justify-content: space-around;
  display: flex;
}

.local-elementos p {
  margin: 10px;
  border-radius: 15px;
  font-size: 70%;
}

.local-textos {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
  margin: 0.1rem 0.5rem;
  padding: 0.2rem;
  text-align: center;
}

.local-textos h3 {
  font-size: 80%;
  flex-basis: auto;
} 

.local-textos h1 {
  font-size: 120%;
} 

.fire {
  background-color: rgba(255, 72, 0, 0.89);
  color: white;
  padding: 1px 20px 1px 20px;
}

.grass {
  background-color: green;
  color: white;
  padding: 1px 20px 1px 20px;
}

.water {
  background-color: rgb(0, 174, 255);
  color: white;
  padding: 1px 20px 1px 20px;
}

.electric {
  background-color: rgba(26, 49, 175, 0.884);
  color: rgb(0, 0, 0);
  padding: 1px 20px 1px 20px;
}

.rock {
  background-color: rgb(75, 43, 24);
  color: white;
  padding: 1px 20px 1px 20px;
}

.dark {
  background-color: rgba(253, 253, 253, 0.767);
  color: rgb(0, 0, 0);
  padding: 1px 20px 1px 20px;
}

.flying {
  background-color: rgba(101, 219, 154, 0.918);
  color: white;
  padding: 1px 20px 1px 20px;
}

.psychic {
  background-color: rgb(143, 0, 148);
  color: white;
  padding: 1px 20px 1px 20px;
}

.bug {
  background-color: rgb(39, 102, 54);
  color: white;
  padding: 1px 20px 1px 20px;
}

.normal {
  background-color: rgb(126, 126, 126);
  color: white;
  padding: 1px 20px 1px 20px;
}

.ground {
  background-color: rgb(109, 136, 22);
  color: white;
  padding: 1px 20px 1px 20px;
}

.fairy {
  background-color: rgb(192, 25, 207);
  color: white;
  padding: 1px 20px 1px 20px;
}

.ice {
  background-color: rgb(22, 113, 136);
  color: white;
  padding: 1px 20px 1px 20px;
}

.poison {
  background-color: rgb(9, 141, 20);
  color: white;
  padding: 1px 20px 1px 20px;
}

.steel {
  background-color: rgb(121, 102, 165);
  color: white;
  padding: 1px 20px 1px 20px;
}

.ghost {
  background-color: rgb(78, 3, 65);
  color: white;
  padding: 1px 20px 1px 20px;
}

.fighting {
  background-color: rgb(187, 187, 187);
  color: rgb(0, 0, 0);
  padding: 1px 20px 1px 20px;
}

.dragon {
  background-color: rgb(26, 158, 211);
  color: rgb(0, 0, 0);
  padding: 1px 20px 1px 20px;
}

/* Background Color */

.back-grass {
  background: linear-gradient(rgba(15, 90, 31, 0.932), rgba(183, 248, 171, 0.849)) !important;
}

.back-water {
  background: linear-gradient(rgba(3, 70, 226, 0.685), rgb(110, 189, 253)) !important;
}

.back-fire {
  background: linear-gradient(rgba(255, 38, 0, 0.863), rgba(255, 168, 5, 0.733)) !important;
}

.back-bug {
  background: linear-gradient(rgba(0, 121, 55, 0.877), rgba(5, 255, 193, 0.356));
}

.back-normal {
  background: linear-gradient(rgba(243, 206, 42, 0.829), rgba(5, 137, 245, 0.658));
}

.back-poison {
  background: linear-gradient(rgba(99, 0, 58, 0.788), rgba(221, 50, 255, 0.637));
}

.back-electric {
  background: linear-gradient(rgba(251, 255, 10, 0.781), rgba(47, 158, 248, 0.952)) !important;
}

.back-ground {
  background: linear-gradient(rgb(95, 46, 1), rgba(247, 210, 130, 0.932));
}

.back-fairy {
  background: linear-gradient(rgba(247, 41, 212, 0.932), rgba(233, 154, 207, 0.356));
}

.back-psychic {
  background: linear-gradient(rgb(121, 0, 168), rgba(241, 3, 162, 0.767));
}

.back-fighting {
  background: linear-gradient(rgb(54, 29, 13), rgba(207, 200, 209, 0.356));
}

.back-dragon {
  background: linear-gradient(rgba(255, 0, 34, 0.712), rgba(66, 4, 146, 0.808));
}

.back-rock {
  background: linear-gradient(rgb(66, 36, 7), rgba(177, 162, 131, 0.932));
}

.back-dark {
  background: linear-gradient(rgba(0, 0, 0, 0.671), rgba(66, 2, 82, 0.781));
}

.back-ice {
  background: linear-gradient(rgb(105, 165, 255), rgba(218, 239, 252, 0.979));
}

.back-steel {
  background: linear-gradient(rgba(65, 69, 71, 0.945), rgba(109, 95, 84, 0.534));
}

.back-ghost {
  background: linear-gradient(rgba(122, 24, 212, 0.849), rgba(239, 204, 247, 0.356));
}